<section>
  <h1>About Me</h1>
  <p>Hi, I’m <a href="/about/">Chris Chernoff</a>. I’m a user experience designer/developer whose passion is creating interactive products and services that make life more fun and convenient.</p>
  <p>This is my collecting point for <a href="/">thoughts</a> and <a href="/work/">selected works</a>.</p>
  <div id="social_icons">
    <a href="http://www.twitter.com/burnedpixel"><img src="/images/twitter_circle.svg" /></a>
    <a href="https://github.com/chrischernoff"><img src="/images/github_circle.svg" /></a>
    <a href="http://www.linkedin.com/in/chrischernoff/"><img src="/images/linkedin_circle.svg" /></a>
    <a href="mailto:chris@burnedpixel.com"><img src="/images/email_circle.svg" /></a>
  </p>
</section>
