---
layout: default
single: true
---

<div class="work_article_container">
<article class="hentry" role="article">
  {% assign title = page.title %}
  {% include article.html %}
  <footer>
    {% if page.sharing == true %}
      {% include post/sharing.html %}
    {% endif %}
    {% unless page.pagination == false %}
      <p class="meta">
        {% if page.previous.url and page.previous.category == "work" %}
          <a class="basic-alignment left" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><span>Previous Project</span><span>{{page.previous.title | truncate: 40 }}<span></a>
        {% endif %}
        {% if page.next.url and page.next.category == "work" %}
          <a class="basic-alignment right" href="{{page.next.url}}" title="Next Post: {{page.next.title}}"><span>Next Project</span><span>{{page.next.title | truncate: 40 }}<span></a>
        {% endif %}
      </p>
    {% endunless %}
  </footer>
</article>
{% if site.disqus_short_name and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
</div>
{% unless page.sidebar == false %}
<aside class="sidebar">
  {% if site.work_post_asides.size %}
    {% include_array work_post_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
{% endunless %}
