<div id="intro_content">
  <div id="bio">
    <p>Hi, I’m <a href="/about/">Chris Chernoff</a>. I’m a user experience designer whose passion 
  is creating interactive products and services that make life better.</p>
    <p>This is my collecting point for <a href="/">thoughts</a> and <a href="/work/">selected works</a>.</p>
  </div>
  <div id="social_icons">
    <img src="/images/twitter_circle.png" />
    <img src="/images/twitter_circle.png" />
    <img src="/images/twitter_circle.png" />
  </div>
</div>
