---
layout: default
sidebar: collapse
intro: true
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
    {% if post.category != "hidden" and post.category != "work" %}
      {% assign content = post.content %}
        <article>
          {% include article.html %}
        </article>
    {% endif %}
  {% endfor %}
  <footer>
    <p class="meta">
      {% if paginator.next_page %}
        <a class="basic-alignment left" href="{{paginator.next_page}}"><span>Older Posts</span></a>
      {% endif %}
      {% if paginator.previous_page %}
      <a class="basic-alignment right" href="{{paginator.previous_page}}"><span>Newer Posts</span></a>
      {% endif %}
    </p>
  </footer>
</div>
<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
