---
layout: default
sidebar: collapse
intro: true
title: "Blog & UX Portfolio of Chris Chernoff"
---

<div class="blog-index">
  <header class="list">
    <h1>Recent Posts</h1>
  </header>
  {% assign index = true %}
  {% for post in site.posts | limit: 3 %}
    {% if post.category != "hidden" and post.category != "work" %}
      {% assign content = post.content %}
        <article>
          {% include article.html %}
        </article>
    {% endif %}
  {% endfor %}
  <footer>
    <a href="/blog">Older Posts</a>
  </footer>
</div>
<div class="blog-index">
  <header class="list">
    <h1>Selected Work</h1>
  </header>
  {% for post in site.posts | sort: post.order %}
      {% if post.category == "work" %}
        {% assign content = post.content %}
          <article>
            {% include article.html %}
          </article>
      {% endif %}
  {% endfor %}
</div>
<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
